################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.dgml

/.vs
/packages/
/bin

WhiteStone/bin/
WhiteStone/obj


WhiteStone.Tasks/bin
WhiteStone.Tasks/obj

WhiteStone.Test/bin
WhiteStone.Test/obj



*.userprefs
/_ReSharper.Caches
/HideIfResponseSuccessCheckForBOA/src/obj/Debug
/HideIfResponseSuccessCheckForBOA/src/bin/Debug
/HideIfResponseSuccessCheckForBOA/UnitTestProject1/obj/Debug
/HideIfResponseSuccessCheckForBOA/UnitTestProject1/bin/Debug
/BOA.HelperTools/_ReSharper.Caches/
/BOA.HelperTools/UI.ContainerHelper/obj/
/BOA.HelperTools/Tests/BOAPlugins.Test/obj/
/BOA.HelperTools/BOAPlugins/obj/
/BOA.HelperTools/.vs/
/BOA.HelperTools/BOA.CodeGeneration/bin/
/BOA.HelperTools/BOA.CodeGeneration/obj/
/BOA.HelperTools/BOAPlugins/bin/
/BOA.HelperTools/BOAPlugins/obj/
/BOA.HelperTools/BOAPlugins.VSIntegration/bin/
/BOA.HelperTools/BOAPlugins.VSIntegration/obj/
/BOA.HelperTools/Tests/BOAPlugins.Test/bin/
/BOA.HelperTools/Tests/BOAPlugins.Test/obj/
/BOA.HelperTools/UI.ContainerHelper/bin/
/BOA.HelperTools/UI.ContainerHelper/obj/
