################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.dgml

/.vs
/packages/
/bin

WhiteStone/bin/
WhiteStone/obj


WhiteStone.Tasks/bin
WhiteStone.Tasks/obj

WhiteStone.Test/bin
WhiteStone.Test/obj



*.userprefs
/_ReSharper.Caches
/HideIfResponseSuccessCheckForBOA/src/obj/
/HideIfResponseSuccessCheckForBOA/src/bin/
/HideIfResponseSuccessCheckForBOA/UnitTestProject1/obj/
/HideIfResponseSuccessCheckForBOA/UnitTestProject1/bin/
/BOA.HelperTools/_ReSharper.Caches/
/BOA.HelperTools/UI.ContainerHelper/obj/
/BOA.HelperTools/Tests/BOAPlugins.Test/obj/
/BOA.HelperTools/BOAPlugins/obj/
/BOA.HelperTools/.vs/
/BOA.HelperTools/BOA.CodeGeneration/bin/
/BOA.HelperTools/BOA.CodeGeneration/obj/
/BOA.HelperTools/BOAPlugins/bin/
/BOA.HelperTools/BOAPlugins/obj/
/BOA.HelperTools/BOAPlugins.VSIntegration/bin/
/BOA.HelperTools/BOAPlugins.VSIntegration/obj/
/BOA.HelperTools/Tests/BOAPlugins.Test/bin/
/BOA.HelperTools/Tests/BOAPlugins.Test/obj/
/BOA.HelperTools/UI.ContainerHelper/bin/
/BOA.HelperTools/UI.ContainerHelper/obj/
/BOA.HelperTools/BOAPlugins.FormApplicationGenerator.UI/obj/
/BOA.HelperTools/BOAPlugins.FormApplicationGenerator.UI/bin/
/BOA.HelperTools/BOAPlugins.Utility/bin/
/BOA.HelperTools/BOAPlugins.Utility/obj/
/MemorizeEnglishVocabulary/_ReSharper.Caches/ReSharperPlatformVs15183_10d5f4c1.MemorizeEnglishVocabulary.00
/MemorizeEnglishVocabulary/Vocabulary/obj/x64/Debug
/MemorizeEnglishVocabulary/Vocabulary/bin/x64/Debug
/MemorizeEnglishVocabulary/packages
/MemorizeEnglishVocabulary/.vs
/MemorizeEnglishVocabulary/MemorizeEnglishVocabularyTest/obj/
/MemorizeEnglishVocabulary/MemorizeEnglishVocabularyTest/bin/
/MemorizeEnglishVocabulary/MemorizeEnglishVocabulary/bin/x64/Debug
/MemorizeEnglishVocabulary/MemorizeEnglishVocabulary/obj/x64/Debug
/WhiteStone.UI.Container/obj/
/WhiteStone.UI.Container/bin/
/CustomUIMarkupLanguage/obj/
/CustomUIMarkupLanguage/bin/
/CustomUIMarkupLanguage.Test/bin/
/CustomUIMarkupLanguage.Test/obj/
/BOA.OneDesigner/bin/
/BOA.OneDesigner/obj/
/BOA.OneDesigner.Test/bin
/BOA.OneDesigner.Test/obj/
/WhiteStone.UI.Container.Test/bin/
/WhiteStone.UI.Container.Test/obj/
/CustomUIMarkupLanguage/obj/
/BOACardCustomSqlHelper/obj/
/BOACardCustomSqlHelper/bin/
/BOA.HelperTools/Tests/BOA.CodeGeneration.Test/bin/
/BOA.HelperTools/Tests/BOA.CodeGeneration.Test/obj/
/CustomUIMarkupLanguage.Test/bin/
/CustomUIMarkupLanguage.Test/obj/
/WhiteStone.UI.Container/bin/
/WhiteStone.UI.Container/obj/
/WhiteStone.UI.Container.Test/bin/
/WhiteStone.UI.Container.Test/obj/
/CustomUIMarkupLanguage/bin/
/BOA.EntityGeneration/obj/
/BOA.EntityGeneration/bin/
/BOA.EntityGeneration.Test/bin/
/BOA.EntityGeneration.Test/obj/
/BOA.TfsAccess/bin//
/BOA.TfsAccess/obj/
/BOA.TfsAccess.Test/obj/
/BOA.TfsAccess.Test/bin/
/CustomSqlInjectionToProject/bin/
/CustomSqlInjectionToProject/obj/
/BOACardEntityGenerationWrapper/bin
/BOACardEntityGenerationWrapper/obj
/BOA.EntityGeneration.UI/obj/
/BOA.EntityGeneration.UI/bin/
*.suo
/BOA.OneDesigner.Starter/bin/
/BOA.OneDesigner.Starter/obj/
/BOA.EntityGeneration.UI.Starter/bin/
/BOA.EntityGeneration.UI.Starter/obj/
/WhiteStone.Updater/bin/
/WhiteStone.Updater/obj/
/WhiteStone.ApplicationStarter/bin/
/WhiteStone.ApplicationStarter/obj/
/BOA.OneDesigner/bin/
/BOA.OneDesigner/obj/
/BOA.TfsAccess/bin/
/BOA.TfsAccess/.vs/
/BOAMessagingTooltip/.vs
/BOAMessagingTooltip/BOAMessagingTooltip.Test/bin/
/BOAMessagingTooltip/BOAMessagingTooltip.Test/obj/
/BOAMessagingTooltip/packages
/BOAMessagingTooltip/src/bin/
/BOAMessagingTooltip/src/obj/
/BOAMessagingTooltip/_ReSharper.Caches/
/BOA.EntityGeneration.Data/bin/
/BOA.EntityGeneration.Data/obj
/BOA.EntityGeneration.CustomSQLExporting/bin/
/BOA.EntityGeneration.CustomSQLExporting/obj/
/BOA.EntityGeneration.CustomSQLExporting.Test/obj/
/BOA.EntityGeneration.CustomSQLExporting.Test/bin/
/BOA.EntityGeneration.UI.Container/bin/
/BOA.EntityGeneration.UI.Container/obj/
