<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<BInputMask value    = {<#=Data.BindingPath#>}
type="Custom"
                                mask="nn:nn"
        onChange = {(e: any, value: string) => <#=Data.BindingPath#> = value}
        floatingLabelTextDate = {<#=Data.Label#>}
        hintText={<#=Data.Label#>}
        context = {context}/>