<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CurrentVersionNumber" value="0" />
    <add key="VersionInfoFileUrl" value="https://github.com/beyaz/WhiteStone/blob/master/BOA.EntityGeneration.UI/dist/BOA.EntityGeneration.UI.txt?raw=true" />

    <add key="ZipFilePath" value="d:\BOA\EntityGenerator.zip" />
    <add key="ZipFileUrl" value="https://github.com/beyaz/WhiteStone/blob/master/BOA.EntityGeneration.UI/dist/BOA.EntityGeneration.UI.zip?raw=true" />
  </appSettings>
</configuration>