<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
  <appSettings>
    <add key = "StartupMainWindow" value = "CustomSqlInjectionToProject.MainForm.View,CustomSqlInjectionToProject" />
    <add key = "WindowBase.CloneModelOnEveryAction" value = "true" />
    <add key = "UseMahAppMetroStyle" value = "true" />
  </appSettings>
</configuration>