<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZipFileUrl" value="https://github.com/beyaz/WhiteStone/blob/master/BOA.EntityGeneration.UI/dist/BOA.EntityGeneration.UI.zip?raw=true" />
    <add key="ZipFilePath" value="D:\BOA\EntityGenerator.zip" />
    <add key="ExportDir" value="D:\BOA\EntityGenerator\" />
    <add key="ProcessPath" value="D:\BOA\EntityGenerator\WhiteStone.UI.Container.exe" />
  </appSettings>
</configuration>