<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ZipFileUrl" value="https://github.com/beyaz/WhiteStone/blob/master/CustomSqlInjectionToProject/dist/CustomSqlInjectionToProject.zip?raw=true" />
    <add key="ZipFilePath" value="D:\BOA\CustomSqlInjectionToProject.zip" />
    <add key="ExportDir" value="D:\BOA\CustomSqlInjectionToProject\" />
    <add key="ProcessPath" value="D:\BOA\CustomSqlInjectionToProject\CustomSqlInjectionToProject.exe" />
  </appSettings>
</configuration>