<#@ template language="C#" #>
<#@ import namespace="System.Linq" #>
<#@ parameter name="selectAllInfo" type="BOA.EntityGeneration.ScriptModel.SelectAllInfo" #>
<#@ parameter name="tableInfo" type="BOA.EntityGeneration.DbModel.Interfaces.ITableInfo" #>
<#@ parameter name="typeContractName" type="System.String" #>

/// <summary>
///     Selects all records from table '<#=tableInfo.SchemaName#>.<#=tableInfo.TableName#>'.
/// </summary>
public GenericResponse<List<<#=typeContractName#>>> Select()
{
	const string sql = @"
	<#=selectAllInfo.Sql #>";
	
	var command = this.CreateCommand(sql);
	<# if (selectAllInfo.SqlParameters.Any()){ #>

<# foreach (var columnInfo in selectAllInfo.SqlParameters) {#>
	DBLayer.AddInParameter(command, "@<#=columnInfo.ColumnName#>", SqlDbType.<#=columnInfo.SqlDbType#>, <#=columnInfo.ColumnName.AsMethodParameter()#>);
<#}#>
	<#}#>

	return this.ExecuteReader<<#=typeContractName#>>(command, ReadContract);
}