<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CurrentVersionNumber" value="1" />
    <add key="VersionInfoFileUrl" value="https://github.com/beyaz/WhiteStone/blob/master/BOA.OneDesigner/dist/BOA.OneDesigner.txt?raw=true" />

    <add key="ZipFilePath" value="d:\BOA\Tools\OneDesigner.zip" />
    <add key="ZipFileUrl" value="https://github.com/beyaz/WhiteStone/blob/master/BOA.OneDesigner/dist/BOA.OneDesigner.zip?raw=true" />
  </appSettings>
</configuration>